In [1]:
import pandas as pd

In [5]:
cast = pd.read_csv('E:/1 Top Mentor Data Analyst Classes/Data sets/cast.csv')
cast.head()

,title,year,name,type,character,n
0,Closet Monster,2015.0,Buffy #1,actor,Buffy 4,NaN
1,Suuri illusioni,1985.0,Homo $,actor,Guests,22.0
2,Battle of the Sexes,2017.0,$hutter,actor,Bobby Riggs Fan,10.0
3,Secret in Their Eyes,2015.0,$hutter,actor,2002 Dodger Fan,NaN
4,Steve Jobs,2015.0,$hutter,actor,1988 Opera House Patron,NaN

### How many movies are listed in the titles dataframe?

In [6]:
total_movies = cast.shape[0]
print(f"Total number of titles: {total_movies}")

Total number of titles: 2159949

### What are the earliest two films listed in the titles dataframe?

In [8]:
earliest_unique = cast.drop_duplicates(subset='title').sort_values('year').head(2)
print(earliest_unique[['title', 'year']])

                         title    year
464860              Miss Jerry  1894.0
1718063  Soldiers of the Cross  1900.0

### How many movies have the title "Hamlet"?

In [9]:
hamlet_count = cast[cast['title'] == 'Hamlet'].shape[0]
print(f'Number of titles named "Hamlet": {hamlet_count}')

Number of titles named "Hamlet": 218

### How many movies are titled "North by Northwest"?

In [10]:
north_west_count = cast[cast['title'] == 'North by Northwest'].shape[0]
print(f'Number of titles named "North by Northwest": {north_west_count}')

Number of titles named "North by Northwest": 81

### When was the first movie titled "Hamlet" made?

In [14]:
hamlet_titles = cast[cast['title'] == 'Hamlet']
first_hamlet = hamlet_titles.sort_values('year').head(1)
print(first_hamlet[['title', 'year']])

          title    year
1545289  Hamlet  1910.0

### List all of the "Treasure Island" movies from earliest to most recent.

In [22]:
treasure_island_movies = cast[cast['title'] == 'Treasure Island'].sort_values('year')
##print(treasure_island_movies[['title', 'year']].to_string(index=False))
print(treasure_island_movies[['title', 'year']])

                   title    year
339256   Treasure Island  1918.0
1291387  Treasure Island  1918.0
1473574  Treasure Island  1918.0
1417884  Treasure Island  1918.0
1715014  Treasure Island  1918.0
...                  ...     ...
969021   Treasure Island  1999.0
1797264  Treasure Island  1999.0
1869989  Treasure Island  1999.0
1975279  Treasure Island  1999.0
1959741  Treasure Island  1999.0

[154 rows x 2 columns]

### How many movies were made in the year 1950?

In [17]:
movies_1950 = cast[cast['year'] == 1950]
count_1950 = movies_1950.shape[0]
print(f"Number of movies made in 1950: {count_1950}")

Number of movies made in 1950: 14653

### How many movies were made in the year 1960?

In [18]:
movies_1960 = cast[cast['year'] == 1960]
count_1960 = movies_1960.shape[0]
print(f"Number of movies made in 1960: {count_1960}")

Number of movies made in 1960: 11551

### How many movies were made from 1950 through 1959?

In [20]:
movies_50 = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]
count_50s = movies_50.shape[0]
print(f"Number of movies made from 1950 through 1959: {count_50s}")

Number of movies made from 1950 through 1959: 137408

### In what years has a movie titled "Batman" been released?

In [24]:
batman_titles = cast[cast['title'] == 'Batman']
batman_years = sorted(batman_titles['year'].dropna().unique())
print("Years when 'Batman' was released:")
##print(batman_years)
print([int(year) for year in batman_years])

Years when 'Batman' was released:
[1943, 1989]

### How many roles were there in the movie "Inception"?

In [25]:
inception_roles = cast[cast['title'] == 'Inception']
role_count = inception_roles.shape[0]
print(f"Number of roles in 'Inception': {role_count}")

Number of roles in 'Inception': 52

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [26]:
unranked_roles = inception_roles['n'].isna().sum()
print(f"Number of unranked roles in 'Inception': {unranked_roles}")

Number of unranked roles in 'Inception': 21

### But how many roles in the movie "Inception" did receive an "n" value?

In [27]:
ranked_roles = inception_roles['n'].notna().sum()
print(f"Number of ranked roles in 'Inception': {ranked_roles}")

Number of ranked roles in 'Inception': 31

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [29]:
nbnw_cast = cast[(cast['title'] == 'North by Northwest') & (cast['n'].notna())]
# Sort by 'n' value
nbnw_cast_sorted = nbnw_cast.sort_values('n')
# Display name, character, and n
print(nbnw_cast_sorted[['name', 'character', 'n']].to_string(index=False))

             name                   character    n
       Cary Grant          Roger O. Thornhill  1.0
      James Mason             Phillip Vandamm  3.0
   Leo G. Carroll               The Professor  5.0
      Philip Ober             Lester Townsend  7.0
    Martin Landau                     Leonard  8.0
     Edward Platt             Victor Larrabee 10.0
Robert Ellenstein                       Licht 11.0
  Philip Coolidge                   Dr. Cross 13.0
    Patrick McVey              Sergeant Flamm 14.0
     Edward Binns              Captain Junket 15.0
        Ken Lynch Charley - Chicago Policeman 16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [30]:
sleuth_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972) & (cast['n'].notna())]
# Sort by 'n' value
sleuth_cast_sorted = sleuth_cast.sort_values('n')
# Display name, character, and n
print(sleuth_cast_sorted[['name', 'character', 'n']].to_string(index=False))

              name                  character   n
  Laurence Olivier                Andrew Wyke 1.0
     Michael Caine                Milo Tindle 2.0
    Alec Cawthorne          Inspector Doppler 3.0
John (II) Matthews Detective Sergeant Tarrant 4.0
      Teddy Martin     Police Constable Higgs 6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [31]:
sleuth_cast2007 = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007) & (cast['n'].notna())]
# Sort by 'n' value
sleuth_cast_sorted07 = sleuth_cast2007.sort_values('n')
# Display name, character, and n
print(sleuth_cast_sorted07[['name', 'character', 'n']].to_string(index=False))

         name   character   n
Michael Caine      Andrew 1.0
     Jude Law        Milo 2.0
Harold Pinter Man on T.V. 3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [32]:
hamlet_1921_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1921)]

# Count the number of credited roles
role_count = hamlet_1921_roles.shape[0]
print(f"Number of credited roles in the 1921 silent film 'Hamlet': {role_count}")

Number of credited roles in the 1921 silent film 'Hamlet': 5

### How many roles were credited in Branagh’s 1996 Hamlet?

In [33]:
hamlet_1996_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996)]

# Count the number of credited roles
role_count = hamlet_1996_roles.shape[0]
print(f"Number of credited roles in Branagh’s 1996 'Hamlet': {role_count}")

Number of credited roles in Branagh’s 1996 'Hamlet': 38

### How many "Hamlet" roles have been listed in all film credits through history?

In [34]:
total_hamlet_roles = cast[cast['title'] == 'Hamlet']

# Count total credited roles
total_roles = total_hamlet_roles.shape[0]
print(f"Total number of credited 'Hamlet' roles across all films: {total_roles}")

Total number of credited 'Hamlet' roles across all films: 218

### How many people have played an "Ophelia"?

In [35]:
ophelia_roles = cast[cast['character'].str.contains('Ophelia', case=False, na=False)]

# Count unique actors who played Ophelia
unique_ophelias = ophelia_roles['name'].nunique()
print(f"Total number of people who have played Ophelia: {unique_ophelias}")

Total number of people who have played Ophelia: 11

### How many people have played a role called "The Dude"?

In [37]:
dude_roles = cast[cast['character'].str.contains('The Dude', case=False, na=False)]

# Count unique actors who played The Dude
unique_dudes = dude_roles['name'].nunique()
print(f"Total number of people who have played The Dude: {unique_dudes}")

Total number of people who have played The Dude: 33

### How many people have played a role called "The Stranger"?

In [38]:
stranger_roles = cast[cast['character'].str.contains('The Stranger', case=False, na=False)]

# Count unique actors who played The Stranger
unique_strangers = stranger_roles['name'].nunique()
print(f"Total number of people who have played The Stranger: {unique_strangers}")

Total number of people who have played The Stranger: 204

### How many roles has Sidney Poitier played throughout his career?

In [39]:
poitier_roles = cast[cast['name'] == 'Sidney Poitier']

# Count the number of credited roles
role_count = poitier_roles.shape[0]

print(f"Total number of roles Sidney Poitier has played: {role_count}")

Total number of roles Sidney Poitier has played: 43

### How many roles has Judi Dench played?

In [40]:
judi_roles = cast[cast['name'] == 'Judi Dench']

# Count the number of credited roles
role_count_jd = judi_roles.shape[0]

print(f"Total number of roles Judi Dench has played: {role_count_jd}")

Total number of roles Judi Dench has played: 0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [41]:
grant_supporting_40s = cast[
    (cast['name'] == 'Cary Grant') &
    (cast['n'] == 2) &
    (cast['year'] >= 1940) &
    (cast['year'] <= 1949)
]

# Sort by year
grant_supporting_40s_sorted = grant_supporting_40s.sort_values('year')

# Display title, year, and character
print(grant_supporting_40s_sorted[['title', 'year', 'character']].to_string(index=False))

           title   year   character
My Favorite Wife 1940.0        Nick
  Penny Serenade 1941.0 Roger Adams

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [42]:
grant_leading_40s = cast[
    (cast['name'] == 'Cary Grant') &
    (cast['n'] == 1) &
    (cast['year'] >= 1940) &
    (cast['year'] <= 1949)
]

# Sort by year
grant_leading_40s_sorted = grant_leading_40s.sort_values('year')

# Display title, year, and character
print(grant_leading_40s_sorted[['title', 'year', 'character']].to_string(index=False))

                               title   year             character
                     His Girl Friday 1940.0          Walter Burns
             The Howards of Virginia 1940.0           Matt Howard
              The Philadelphia Story 1940.0    C. K. Dexter Haven
                           Suspicion 1941.0               Johnnie
               Once Upon a Honeymoon 1942.0 Patrick 'Pat' O'Toole
                The Talk of the Town 1942.0          Leopold Dilg
                           Mr. Lucky 1943.0             Joe Adams
                   Destination Tokyo 1943.0         Capt. Cassidy
                           Mr. Lucky 1943.0       Joe Bascopolous
           None But the Lonely Heart 1944.0            Ernie Mott
                Arsenic and Old Lace 1944.0     Mortimer Brewster
                    Once Upon a Time 1944.0           Jerry Flynn
                       Night and Day 1946.0           Cole Porter
                           Notorious 1946.0                Devlin
                   The Bishop's Wife 1947.0                Dudley
    The Bachelor and the Bobby-Soxer 1947.0           Dick Nugent
        Every Girl Should Be Married 1948.0     Dr. Madison Brown
Mr. Blandings Builds His Dream House 1948.0         Jim Blandings
              I Was a Male War Bride 1949.0 Captain Henri Rochard

### How many roles were available for actors in the 1950s?

In [43]:
# Filter for roles from the 1950s
roles_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]

# Count total number of roles
total_roles_1950s = roles_1950s.shape[0]

print(f"Total number of roles available for actors in the 1950s: {total_roles_1950s}")

Total number of roles available for actors in the 1950s: 137408

### How many roles were available for actresses in the 1950s?

In [44]:
# Filter for actress roles in the 1950s
actress_roles_1950s = cast[
    (cast['type'] == 'actress') &
    (cast['year'] >= 1950) &
    (cast['year'] <= 1959)
]

# Count total number of roles
total_actress_roles_1950s = actress_roles_1950s.shape[0]

print(f"Total number of roles available for actresses in the 1950s: {total_actress_roles_1950s}")

Total number of roles available for actresses in the 1950s: 0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [45]:
leading_roles = cast[
    (cast['n'] == 1) &
    (cast['year'] <= 1980)
]

# Count total number of leading roles
total_leading_roles = leading_roles.shape[0]

print(f"Total number of leading roles through 1980: {total_leading_roles}")

Total number of leading roles through 1980: 38187

### How many non-leading roles were available through from the beginning of film history through 1980?

In [46]:
non_leading_roles = cast[
    (cast['n'] != 1) &
    (cast['year'] <= 1980)
]

# Count total number of non-leading roles
total_non_leading_roles = non_leading_roles.shape[0]

print(f"Total number of non-leading roles through 1980: {total_non_leading_roles}")

Total number of non-leading roles through 1980: 703017


### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [47]:
minor_roles = cast[
    (cast['year'] <= 1980) &
    (cast['n'].isna())
]

# Count total number of minor roles
total_minor_roles = minor_roles.shape[0]

print(f"Total number of unranked (minor) roles through 1980: {total_minor_roles}")

Total number of unranked (minor) roles through 1980: 299849