# Ex2 - Data Understading



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv("E:/1 Top Mentor Data Analyst Classes/Python_Advance_Program_15_10_25/chipotle_Ex2.csv")

### Step 4. See the first 10 entries

In [6]:
print(chipo.head(10))

   Unnamed: 0  order_id  quantity                              item_name  \
0           0         1         1           Chips and Fresh Tomato Salsa
1           1         1         1                                   Izze
2           2         1         1                       Nantucket Nectar
3           3         1         1  Chips and Tomatillo-Green Chili Salsa
4           4         2         2                           Chicken Bowl
5           5         3         1                           Chicken Bowl
6           6         3         1                          Side of Chips
7           7         4         1                          Steak Burrito
8           8         4         1                       Steak Soft Tacos
9           9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [7]:
print(chipo.shape)

(4622, 6)

### Step 6. What is the number of columns in the dataset?

In [7]:
total_columns = len(chipo.columns)
print(total_columns)

6

### Step 7. Print the name of all the columns.

In [8]:
print("Column names:")
print(chipo.columns.tolist())

Column names:
['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [9]:
print("Index information:")
print(chipo.index)

Index information:
RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [22]:
top_item = chipo.groupby('item_name')['quantity'].sum().idxmax()
print(top_item)

Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [7]:
item_totals = chipo.groupby('item_name')['quantity'].sum()
top_item_name = item_totals.idxmax()
top_item_quantity = item_totals.max()
print(f"{top_item_name}: {top_item_quantity} items ordered")

Chicken Bowl: 761 items ordered

### Step 11. What was the most ordered item in the choice_description column?

In [9]:
choice_totals = chipo.groupby('choice_description')['quantity'].sum()
# Find the most ordered choice_description
top_choice = choice_totals.idxmax()
top_quantity = choice_totals.max()
print(f"{top_choice}: {top_quantity} items ordered")

[Diet Coke]: 159 items ordered

### Step 12. How many items were orderd in total?

In [11]:
total_items = chipo['quantity'].sum()
print(f"Total items ordered: {total_items}")

Total items ordered: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [12]:
print(chipo['item_price'].dtype)

object

#### Step 13.b. Create a lambda function and change the type of item price

In [16]:
chipo['item_price'] = chipo['item_price'].apply(
    lambda x: float(x.replace('$', '')) if isinstance(x, str) else x
)
print(chipo['item_price'].head())

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

#### Step 13.c. Check the item price type

In [17]:
print(chipo['item_price'].dtype)

float64

### Step 14. How much was the revenue for the period in the dataset?

In [18]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
total_revenue = chipo['revenue'].sum()
print(f"Total revenue: ${total_revenue:.2f}")

Total revenue: $39237.02

### Step 15. How many orders were made in the period?

In [19]:
total_orders = chipo['order_id'].nunique()
print(f"Total number of orders: {total_orders}")

Total number of orders: 1834

### Step 16. What is the average revenue amount per order?

In [20]:
# Solution 1
average_revenue = total_revenue / total_orders

print(f"Average revenue per order: ${average_revenue:.2f}")

Average revenue per order: $21.39

### Step 17. How many different items are sold?

In [21]:
unique_items = chipo['item_name'].nunique()

print(f"Number of different items sold: {unique_items}")

Number of different items sold: 50